/*
* COLOR
*/

//==>Default
$colorWhite: #fff;
$colorBlack: #000;
$colorRed: #ff0000;
$colorYellow: #ffd000;

$colorAmaranth: #ee2746;
$colorBiscay: #1b3073;

$colorCinnabar: #EB3637;
$colorShark: #1C1C1E;
$colorJumbo: #878789;
$colorConcrete: #f2f2f2;
$colorMystic: #EBEFF3;


//==> For - shadow
$colorSystemForShadow: 8px 8px 16px rgba(0, 0, 0, 0.15);
$colorSystemForShadowSecond: rgba(255, 94, 58, 0.45);


//==> For - gradients
$colorGradient_ : linear-gradient(0deg, #FF2A68 0%, #FF5E3A 100%);
$colorGradientSecond: linear-gradient(250.45deg, #FF5E3A 21.1%, #FF9500 167.47%);
$colorGradientThird: linear-gradient(0deg, #FF5E3A 0%, #FF9500 100%);
$colorGradientFourth: conic-gradient(from 0deg at 50% 50%, #FF2A68 0deg, #FF5E3A 360deg);


//==> Flat Colors
$colorTurquoise: #1ABC9C;
$colorGreenSea: #16A085;

$colorEmerald: #2ECC71;
$colorNephritis: #27AE60;

$colorPeterRiver: #3498DB;
$colorBelizeHole: #2980B9;

$colorAmethyst: #9B59B6;
$colorWisteria: #8E44AD;

$colorSunFlower: #F1C40F;
$colorOrange: #F39C12;


$colorCarrot: #E67E22;
$colorPumpkin: #D35400;

$colorAlizarin: #E74C3C;
$colorPomegranate: #C0392B;

$colorClouds: #ECF0F1;
$colorSilver: #BDC3C7;

$colorConcrete: #95A5A6;
$colorAsbestos: #7F8C8D;

$colorWetAsphalt: #34495E;
$colorMidnightBlue: #2C3E50;